.item-selected {
    background-color: #06508a;
    color: #FFF;
}

.comment-pill {
    position: absolute;
    top: 8px;
    right: 0;
}

.background-dark {
    background-color: #f9f9f9;
}

.background-light {
    background-color: #F2F2F2;
}

.item-ok {
    background: #198754;
    color: #fff;
}

.item-nc {
    background: #dc3545;
    color: #fff;
}

.item-na {
    background: #212529;
    color: #fff;
}

.btn-group{
    width: 100%;
}