video {
    object-fit: cover;
}

.footer {
    position: absolute;
    bottom: 0;
    height: 4rem;

    button {
        color: #06508a;
        background: #FFF;
        font-weight: bold;
    }
}
